<template>
    <div>
        <h1>Video Player</h1>
        <tc-videoplayer
            :playlist="playlist"
        >
        </tc-videoplayer>
    </div>
</template>
<script>
import TcVideoplayer from './components/TcVideoplayer'
import Data from '../data'

export default {
    name: 'app',
    components: {
        TcVideoplayer
    },
    data () {
        return {
            playlist: Data.playlist
        }
    }
}
</script>
<style lang="scss">
@import "../scss/main.scss";
</style>
