<template>
    <div class="track" :class="{ animated }">
        <div class="interact"
            @click.capture="() => false"
            @mousedown.left.stop="startDrag"
            @mouseup.left.stop="endDrag"
            @mousemove="drag"
            @mouseout="cancelDrag"
        ></div>
        <div class="progress"
            :style="progressStyle"
        ></div>
    </div>
</template>
<script>
export default {
    props: {
        value: {
            type: Number,
            required: true,
            default: 0
        },
        max: {
            type: Number,
            default: 1
        },
        clear: {
            type: Boolean,
            default: false
        },
        animated: {
            type: Boolean,
            default: true
        }
    },
    data () {
        return {
            startEvent: null,
            dragEvent: null
        }
    },
    computed: {
        relativeProgress () {
            const progress = this.value / this.max
            return progress
        },
        progressStyle () {
            return {
                width: ((this.startEvent && this.dragEvent)
                        ? (this.dragEvent.offsetX / this.dragEvent.target.offsetWidth * 100 )
                        : (this.relativeProgress * 100)) * !this.clear + '%'
            }
        }
    },
    methods: {
        startDrag (ev) {
            this.startEvent = this.dragEvent = ev
        },
        endDrag (ev) {
            this.$emit('input', this.dragEvent.offsetX / this.dragEvent.target.offsetWidth * this.max)
            this.clearEvents()
        },
        drag (ev) {
            if (!this.startEvent) return
            this.dragEvent = ev
            this.$emit('input', this.dragEvent.offsetX / this.dragEvent.target.offsetWidth * this.max)
        },
        cancelDrag (ev) {
            this.clearEvents()
        },
        clearEvents () {
            this.startEvent = null,
            this.dragEvent = null
        }

    }
}
</script>
<style lang="scss" scoped>
@import "../../scss/variables";

$transition: height 0.2s ease-in-out;

.track {
    background-color: fade-out($black, 0.4);
    box-shadow: 0 -4px 4px fade-out($black, 0.8) inset;
    cursor: pointer;
    min-height: 4px;
    position: relative;
    .interact {
        position: absolute;
        width: 100%;
        z-index: 2;
        min-height: 100%;
    }
    .progress {
        background-color: $rainbow_red;
        position: absolute;
        z-index: 1;
        min-height: 100%;
    }
    &.animated {
        height: $video_trackbar_height;
        transition: $transition;
        .interact {
            height: $video_trackbar_height;
            transition: $transition;
        }
        .progress {
            height: $video_trackbar_height;
            transition: $transition;
        }
        &:hover {
            height: $video_trackbar_height*2;
            > * {
                height: $video_trackbar_height*2;
            }
        }
    }
}
</style>
