<template>
    <div class="video-wrap">
        <transition name="fade">
            <div class="overlay" v-show="fading"></div>
        </transition>
        <h3 v-if="!video">No video source available</h3>
        <div class="video-frame" v-else>
            <div class="title">
                <h4>{{video.title}} <span>{{activeIndex + 1}}/{{playlist.length}}</span></h4>
            </div>
            <div class="controls">
                <v-track
                    :value="currentTime"
                    :max="duration"
                    @input="setTime"
                />
                <div class="buttons">
                    <div class="buttons-left">
                        <button
                            @click.stop="changeVideo(-1)"
                            :disabled="activeIndex === 0"
                        ><v-icon name="step-backward" /></button>
                        <button @click.stop="togglePlay">
                            <v-icon name="pause" v-if="isPlaying" />
                            <v-icon name="play" v-else />
                        </button>
                        <button
                            @click.stop="changeVideo(1)"
                            :disabled="activeIndex === playlist.length - 1"
                        ><v-icon name="step-forward" /></button>
                    </div>
                    <div class="buttons-center">
                        {{ displayCurrentTime }}/{{ displayDuration }}
                    </div>
                    <div class="buttons-right">
                        <v-track
                            class="volume"
                            v-model="volume"
                            :animated="false"
                            :clear="isMuted"
                        />
                        <button @click.stop="toggleMute">
                            <v-icon name="volume-off" v-if="isMuted" />
                            <v-icon name="volume-up" v-else />
                        </button>
                    </div>
                </div>
            </div>

            <video
                ref="player"
                :src="video.sources[format]"
                :type="`video/${format}`"
                v-playing="isPlaying"
                v-muted="isMuted"
                v-volume="volume"
            ></video>
        </div>
    </div>
</template>
<script>
import Directives from '../directives'
// Icons
import Icon from 'vue-awesome/components/Icon'
import 'vue-awesome/icons/play'
import 'vue-awesome/icons/pause'
import 'vue-awesome/icons/step-forward'
import 'vue-awesome/icons/step-backward'
import 'vue-awesome/icons/volume-up'
import 'vue-awesome/icons/volume-off'

import Track from './TcTrack'
import { Timer } from '../utilities/DisplayFormats'

export default {
    name: 'tc-videoplayer',
    props: {
        playlist: {
            type: Array,
            default: () => []
        }
    },
    directives: Directives,
    components: {
        'v-icon': Icon,
        'v-track': Track
    },
    data () {
        return {
            activeIndex: -1,
            player: null,
            isPlaying: false,
            fading: true,
            duration: 0,
            currentTime: 0,
            isMuted: false,
            volume: 1,
            format: { source: null, type: null }
        }
    },
    computed: {
        video () {
            return this.playlist[this.activeIndex] || null
        },
        displayCurrentTime () {
            return Timer(this.currentTime)
        },
        displayDuration () {
            return Timer(this.duration)
        }
    },
    mounted () {
        this.fading = false
        if (this.playlist && this.playlist.length > 0) {
            this.activeIndex = 0
            this.$nextTick(() => this.initPlayer() )
        }

    },
    methods: {
        initPlayer () {
            this.player = this.$refs.player
            if (this.player) {
                this.checkCompatibility()
                this.player.addEventListener('ended', this.changeVideo)
                this.player.addEventListener('timeupdate', this.updateCurrentTime )
                this.player.addEventListener('durationchange', this.updateDuration )
            }
        },
        togglePlay () { this.isPlaying = !this.isPlaying },
        toggleMute () { this.isMuted = !this.isMuted },
        changeVideo (step) {
            step = isNaN(step) ? 1 : step
            const nextIndex = Math.min( Math.max(this.activeIndex + step, 0), this.playlist.length - 1)
            const wasPlaying = this.isPlaying
            this.isPlaying = false
            if (nextIndex === this.activeIndex) return
            this.checkCompatibility()
            this.fading = true
            setTimeout(() => {
                this.fading = false
                this.activeIndex = nextIndex
                this.$nextTick(() => {
                    setTimeout(() => {
                        this.isPlaying = wasPlaying
                    }, 2000);
                })
            }, 2000);
        },
        updateCurrentTime (ev) {
            this.currentTime = ev.target.currentTime
        },
        updateDuration (ev) {
            this.duration = ev.target.duration
        },
        setTime (val) {
            this.player.currentTime = val
        },
        checkCompatibility () {
            if (!this.player) return
            for (let format of Object.keys(this.video.sources)) {
                if (!!this.player.canPlayType(`video/${format}`)) {
                    this.format = format
                    break
                }
            }
        }
    },

}
</script>
<style lang="scss" scoped>
@import "../../scss/variables";
@import "../../scss/player";
</style>
