@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,400,400i,700,700i');
@import "../../node_modules/normalize-scss/sass/normalize/import-now";
@import "./variables";

html {
  font-family: 'Source Sans Pro', sans-serif;
  color: $white;
  background-color: $grey_medium;
  letter-spacing: 0.04em;
  font-size: 16px;
  font-weight: 200;
}

html, body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  font-size: 1.8em;
  font-weight: 200;
}
