.video-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 640px;
    height: 360px;
    overflow: hidden;
    background-color: #000;
    > * {
        user-select: none;
    }
    > h3 {
        z-index: 300;
    }
    .title, .controls {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        position: absolute;
        left: 0;
        width: 100%;
        opacity: 0;
        z-index: 100;
        transition: all 0.2s ease-in;
        cursor: default;
    }
    .title {
        top: -$video_title_height;
        left: 0;
        height: $video_title_height;
        background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.4) 70%, rgba(0,0,0,0) 100%);
        text-align: left;
        h4 {
            margin: 14px 10px 0;
            width: 100%;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
            font-weight: 400;
            span {
                float: right;
                font-weight: 200;
            }
        }
    }
    .controls {
        flex-direction: column;
        bottom: -$video_controls_height;
        height: $video_controls_height;
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 30%, rgba(0,0,0,0.8) 100%);
        .buttons {
            padding: 0 20px 10px;
            display: flex;
            justify-content: space-between;
            .buttons-left, .buttons-right {
                display: flex;
            }
            button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                vertical-align: middle;
                cursor: pointer;
                background: none;
                border: none;
                outline: none;
                -webkit-appearance: none;
                color: $white;
                opacity: 0.8;
                &:hover {
                    opacity: 1;
                }
                &:disabled {
                    cursor: default;
                    opacity: 0.4;
                }
            }
        }
        .buttons-right {
            align-items: center;
            .volume {
                height: 6px;
                min-width: 60px;
            }
        }
    }
    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &:hover {
        .title, .controls { opacity: 1; }
        .title { top: 0; }
        .controls { bottom: 0; }
    }

    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #000000;
        z-index: 200;
    }
}

// Animations

.fade-enter, .fade-leave-to {
    max-height: 0;
    opacity: 0;
}
.fade-enter-active, .fade-leave-active {
    overflow: hidden;
    transition: all 2s ease-in-out;
}
.fade-enter-to, .fade-leave {
    opacity: 1;
    max-height: 200%;
}
