$white: #dddddd;
$grey_light: #414141;
$grey_medium: #222222;
$black: #1d1d1d;
$azure_light: #74ceee;
$azure_medium: #337ab7;

$rainbow_orange: #ff6600;
$rainbow_yellow: #ffd33f;
$rainbow_green: #c0ffa2;
$rainbow_azure: #75cded;
$rainbow_red: #ff2768;

$video_title_height: 30px;
$video_controls_height: 50px;
$video_trackbar_height: 6px;
